<h1>
  <%= @seller.name %>
</h1>
<hr />

<p>Phone: <%= @seller.phone %></p>
<p>Email: <%= @seller.email %></p>
<%= link_to 'Homes', seller_homes_path(@seller) %>

<hr />

<%= link_to 'Edit', edit_seller_path(@seller) %>
<%= link_to 'Delete', seller_path(@seller), method: :delete, data: {confirm: 'Really delete?'} %>
<%= link_to 'All Sellers', sellers_path %>
